@h = 50px;
@w = 200px;

@mystyle: divStyle;

.@{mystyle} {
  height: @h;
  width: @w;
  color: mediumpurple;
  border: 2px solid pink;
  border-radius: 5px;
  font-size: 12px;
  font-family: verdana;
  background-color: navy;
  margin: auto;
}
